<section id="one">
    <div class="inner">
        <header>
            <h2>Matchmaking</h2>
        </header>

        <div class="matchContainer">
            <div class="userViewContainer">
                <h3>0% match</h3>
                <span class="image left">
                    <img id="userviewimg" src="images/mitbillede.jpg" alt="" />
                </span>
                <div class="userInfoContainer">
                    <p><b>Navn:</b> Daniel Stuhr Petersen</p>
                    <p><b>Alder</b> 21</p>
                    <p><b>Køn</b> Mand</p>
                    <p><b>Kan godt lide:</b> Alt muligt lort</p>
                    <p><b>Kan ikke lide:</b> Ingenting</p>

                </div>
            </div>
            <div class="matchbuttons">
                <p>
                    <a href="#" class="button special big">Fuck dig</a>
                    <a href="#" class="button special big">Skrid</a>
                </p>


            </div>
        </div>

    </div>
</section>