<section id="one">
    <div class="inner">
        <header>
            <h2>Dette er en testside</h2>
        </header>
        <p>Inhold kan tilføjes ved at lave flere sektioner til det enkelte view.</p>
        <ul class="actions">
            <li><a href="#" class="button alt">Lær mere</a></li>
        </ul>
    </div>
</section>