<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <img class="logo" src="~/images/LogoWithoutText.png" /> 
            <nav id="nav">
                <a asp-controller="Home" asp-action="Index">Home</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Match" asp-action="Index">Find kærligheden</a>
                    <a asp-controller="User" asp-action="Index">Profil</a>
                    <a asp-controller="Account" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">Login</a>
                    <a asp-controller="Account" asp-action="Register">Register</a>

                }
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    @RenderBody()
    <section id="footer">
        <div class="inner">
            <div class="copyright">
                &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
            </div>
        </div>
    </section>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>
