@{
    ViewData["Title"] = "Match";
}

<section id="one">
    <div class="inner">
        <header>
            <h2>@ViewBag.Title</h2>
        </header>
        <div class="matchContainer">
            <div class="userViewContainer">
               
            </div>
            <div class="matchbuttons">
                <div id="swipe_dislike" class="rate"></div>
                <div class="info"></div>
                <div id="swipe_like" class="rate"></div>
            </div>
            <br />
        </div>
    </div>
</section>
<script src="/assets/js/match.js" async></script>